<!-- Modal -->
<div class="modal fade" id="trailerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe class="modal-iframe" src="" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>