<% if (movies.length) { %>
<nav aria-label="Page navigation" class="pagination-container">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% for (var i = 0; i < totalPages; i++) { %>
    <li><a href="<%= menu %>/page/<%= i+1 %>"><%= i+1 %></a></li>
    <% } %>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<% } %>